.header {
    background-color: #27273e;
}

.header {
}

.header .container {
    display: flex;
    padding: 10px 15px;
    flex-wrap: wrap;
}

.header__column {
    flex: 1;

}

.header__logo {
    left: 15px;
    top: 10px;
}

.logo__img {
}

.header__column--right {
    display: flex;
    flex-flow: column;
}

.header__phone {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;

}

.header__schedule {
    display: block;
    padding: 0;
    text-align: right;
    text-decoration: underline;
    border: none;
    background-color: #27273e;
    color: #ec1e79;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.7;
}