@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Light/GothamPro-Light.eot'); /* IE9 */
    src: url('../fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'), /* Современные браузеры */
         url('../fonts/GothamPro-Light/GothamPro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/GothamPro-Light/GothamPro-Light.svg') format('svg'); /* iOS */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot'),    /* IE9 */
         url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'), /* Современные браузеры */
         url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'),
         url('../fonts/GothamPro-Bold/GothamPro-Bold.svg') format('svg');  /* iOS */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-LightItalic/GothamPro-LightItalic.eot'), /* IE9 */
         url('../fonts/GothamPro-LightItalic/GothamPro-LightItalic.woff') format('woff'), /* Современные браузеры */
         url('../fonts/GothamPro-LightItalic/GothamPro-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/GothamPro-LightItalic/GothamPro-LightItalic.svg') format('svg');  /* iOS */
    font-weight: normal;
    font-style: italic;
}

body {
   font-family: "GothamPro", sans-serif;
   font-weight: 300;
   font-style: normal;
}

 
.header, .about, .footer {
    background-color: #27273e;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

button:hover {
    cursor: pointer;
}

.about__img {
    height: 361px;
    background-image: url("../img/banner.jpg");
    margin: 0 auto;
    width: 1100px;
}

.header {
}
.logo {
}

.header__logo {
    
}

.phone__number {
    
}

.schedule-block {
    
}

.schedule__button {
    
}

.sidebar {  
    
}

.section__title {
    
}

.menu__list {
    
}

.menu__item {
    
}

.menu__item-link {
    
}

.menu__item-link:hover {
   
}

.menu__item-name {
}

.main {
    
}

.features {
    

}

.feature {
    
}

.features__list {
}

.feature__icon {
   
}

.feature__symbol {
}

.feature__name {
  
}

.feature__text {
   
}

.feature__advantage-list {
    
}

.news, .comments {
    
}

.article__icon, .article__content {
    
}

.article__icon {
   
}

.article__logo {
   
}

.article__text {
 

}

.discount {
  
}

.discount__text {
   
}

.pagination {
   
}

.pagination__previos,
.pagination__next {
   
}

.footer {
  
}

.copyrights,
div.footer__logo,
.social-nets {
   
}

.copyrights {
   
}

div.footer__logo {
}

.social-nets {
   
}

.social-net__link {
   
}

.social-net__link:hover {
}

.social-net__icon {
 }
 